{% extends "layouts/base.html" %}

{% if region_description %}
{% block title %}: {{region_description}}{% endblock %}
{% endif %}

{% block body %}
    <div class="header-row">
        <div class="row">
            <div class="small-12 medium-2 large-2 columns large-text-right hide-for-small-only">
                <span class="fi-dislike header-icon"></span>
            </div>
            <div class="small-12 medium-10 large-10 columns">
                <h1>Who Do I Blame?</h1>
                <form action="/" method="POST">
                    <label>
                        <input type="text" class="radius textfield-big" value="" name="address" placeholder="Where are you?">
                        Try to be as specific as possible (9-digit zip code, full street address, etc)
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        {% if reps %}
        <div class="large-9 large-centered small-12 small-centered columns">
            <h3>{{region_description}}</h3>
            <hr>
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
            {% for rep in reps %}
                <li>
                    <h2 class="rep-title">{{rep.title}} {{rep.person.firstname}} {{rep.person.lastname}}</h2>
                    <a href="{{rep.person.link}}"><img src="https://www.govtrack.us/data/photos/{{rep.person.id}}-200px.jpeg" class="rep-photo th"></a>
                    <div class="rep-links">
                        <a href="{{rep.person.link}}" class="fi-info rep-link"></a>
                        <a href="{{rep.website}}" class="fi-link rep-link"></a>
                        {% if rep.person.twitterid %}
                            <a href="https://twitter.com/{{rep.person.twitterid}}" class="fi-social-twitter rep-link"></a>
                        {% endif %}
                        {% if rep.person.youtubeid %}
                            <a href="http://youtube.com/{{rep.person.youtubeid}}" class="fi-social-youtube rep-link"></a>
                        {% endif %}
                        <span class="radius label secondary rep-label">{{rep.party}}</span>

                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

{% endblock %}
