{% extends 'layouts/base_present.html' %}

{% from "macros/helpers.html" import present_block %}

{% block body_content %}
<div id="door-area">
    <div id="gif-area"></div>
    {% for idx in range(0, 3) %}
        {% if suggestions[idx] %}
            {{ present_block(suggestions[idx], idx) }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block footer_extra %}
<script>
    $(document).ready(function() {

        var block_count = 4;

        var colors = [
            "#CA8C33",
            "#A5B744",
            "#ABCB9F",
            "#5AB8BF",

            "#7A5618",
            "#6A7031",
            "#7D9A91",
            "#5B6C89",

            "#AF2F27",
            "#63634A",
            "#546A64",
            "#2F4E7A",

            "#77190E",
            "#2B2E1B",
            "#394C47",
            "#132A4A"
        ];

        var block_iterations = 1;

        var delay = 500; // ms
        var duration = 500; // ms
        var display_duration = 3000; // ms

        var get_4_colors = function() {
            var rand_colors = []
            for (var i = 0; i < 4; i++) {
                var idx = Math.floor(Math.random() * colors.length);
                rand_colors.push(colors[idx]);
            };
            return rand_colors;
        }

        var gif_or_words = function() {
            if ((block_iterations % 3) === 0){
                show_gif();
            } else {
                load_new_set();
            }
            block_iterations++;
        };

        var show_gif = function() {
            $("#words-area").hide();

            $gifarea = $("#gif-area");
            $gifarea.show();
            // starting CSS pre-animation
            $gifarea.css({
                'display': 'block',
                'opacity': 0,
                'background-image': 'url(' + '/img/gifs/test1.gif' + ')',
            });
            // transition in
            $gifarea.transition({
                    'y': 0,
                    'opacity': 1,
                    'duration': duration
                });
            // change opacity
            $gifarea.transition({
                    'delay': delay,
                    'duration': (display_duration * 2)
                });
            // transition out
            $gifarea.transition({
                    'opacity': 0,
                    'delay': delay,
                    'duration': duration,
                });
            $gifarea.promise().done(function() {
                $gifarea.css({
                    'background-image': 'none',
                });
                gif_or_words();
            });
        };

        var load_new_set = function() {
            var xhr = $.ajax({
                'url': '/api/suggestions',
                'dataType': 'json',
                'type': 'GET',
                'data': {
                    'limit': block_count,
                    'random': 1
                }
            });
            // always execute this when it finishes
            xhr.always(function(data, status, xhr) {
                if (data) { // do some guarding to make sure this is valid data
                    insert_new_block_data(data);
                } else {
                    gif_or_words();
                }
            });
        };

        var get_blocks = function() {
            var $rows = $("div.row");
            var blocks = [];
            $rows.each(function(i) {
                blocks.push($($rows[i]));
            })
            return blocks;
        }


        /**
         * this makes a lot of assumptions about what elements are
         * on the page -- many hard-coded values
         * @param  {object} data_arr hash of data from the server
         */
        var insert_new_block_data = function(data_arr) {
            var blocks = get_blocks();

            $("#gif-area").hide();

            var i = 0;

            // get blocks
            var $block0 = $('#row0');
            var $block1 = $('#row1');
            var $block2 = $('#row2');
            var $block3 = $('#row3');

            var colors = get_4_colors();

            $("#door-area")
                .queue(function () {
                    var self = this;
                    var p = insert_and_animate($block0, data_arr[0].content, colors[0], 0);
                    p.done(function() {
                        $(self).dequeue();
                    });
                })
                .queue(function () {
                    var self = this;
                    var p = insert_and_animate($block1, data_arr[1].content, colors[1], 0);
                    p.done(function() {
                        $(self).dequeue();
                    });
                })
                .queue(function () {
                    var self = this;
                    var p = insert_and_animate($block2, data_arr[2].content, colors[2], 0);
                    p.done(function() {
                        $(self).dequeue();
                    });
                })
                .queue(function () {
                    var self = this;
                    var p = insert_and_animate($block3, data_arr[3].content, colors[3], 0);
                    p.done(function() {
                        $(self).dequeue();
                    });
                })
                .queue(function() {
                    gif_or_words();
                    $(this).dequeue();
                });
        };


        var insert_and_animate = function($block, content, bgcolor, delay) {

            $block.show();
            $block.find(".sugg-content").text(content)
            // starting CSS pre-animation
            $block.css({
                'y': '-100',
                'opacity': 0,
                'background-color': bgcolor,
            });
            // transition in
            $block.transition({
                    'y': 0,
                    'opacity': 0.75,
                    'delay': delay,
                    'duration': duration
                });
            // change opacity
            $block.transition({
                    'opacity': 1,
                    'duration': display_duration
                });

            return $block.promise();
        };

        // kick it off with stuff already in DOM on load
        gif_or_words();
    });
</script>
{% endblock %}